<footer>
  <div class="container text-center">
    <p class="pull-left">© 2017 Node Pasal. All Rights Reserved</p>
    <ul class="pull-right list-inline">
      <li><a href="https://github.com/madantamang/nodepasal">GitHub Project</a></li>
      <li><a href="http://getbootstrap.com/">Bootstrap Design</a></li>
    </ul>
  </div>
</footer>
