<h1>e-Commerce Starter</h1>
<p class="lead">A eCommerce for Node.js web applications.</p>
<hr/>
<div class="container bootstrap snippet">
    <div class="row">
       <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wp-block product">
                <figure>
                    <img alt="" src="http://placehold.it/350x150" class="img-responsive img-center">
                </figure>
                <h2 class="product-title"><a href="/details">Nikon Coolpix L320</a></h2>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                </p>
                <div class="wp-block-footer">
                    <span class="price pull-left">$233.33</span>
                    <a href="/checkout" class="btn btn-sm btn-info btn-icon btn-cart pull-right">
                        <i class="fa fa-cart-plus"></i>
                        <span>Add to cart</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wp-block product">
                <figure>
                    <img alt="" src="http://placehold.it/350x150" class="img-responsive img-center">
                </figure>
                <h2 class="product-title"><a href="/details">Nikon Coolpix L320</a></h2>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                </p>
                <div class="wp-block-footer">
                    <span class="price pull-left">$233.33</span>
                    <a href="/checkout" class="btn btn-sm btn-info btn-icon btn-cart pull-right">
                        <i class="fa fa-cart-plus"></i>
                        <span>Add to cart</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wp-block product">
                <figure>
                    <img alt="" src="http://placehold.it/350x150" class="img-responsive img-center">
                </figure>
                <h2 class="product-title"><a href="/details">Nikon Coolpix L320</a></h2>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                </p>
                <div class="wp-block-footer">
                    <span class="price pull-left">$233.33</span>
                    <a href="/checkout" class="btn btn-sm btn-info btn-icon btn-cart pull-right">
                        <i class="fa fa-cart-plus"></i>
                        <span>Add to cart</span>
                    </a>
                </div>
            </div>
        </div>
	</div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wp-block product">
                <figure>
                    <img alt="" src="http://placehold.it/350x150" class="img-responsive img-center">
                </figure>
                <h2 class="product-title"><a href="/details">Nikon Coolpix L320</a></h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                </p>
                <div class="wp-block-footer">
                    <span class="price pull-left">$233.33</span>
                    <a href="/checkout" class="btn btn-sm btn-info btn-icon btn-cart pull-right">
                        <i class="fa fa-cart-plus"></i>
                        <span>Add to cart</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wp-block product">
                <figure>
                    <img alt="" src="http://placehold.it/350x150" class="img-responsive img-center">
                </figure>
                <h2 class="product-title"><a href="/details">Nikon Coolpix L320</a></h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                </p>
                <div class="wp-block-footer">
                    <span class="price pull-left">$233.33</span>
                    <a href="/checkout" class="btn btn-sm btn-info btn-icon btn-cart pull-right">
                        <i class="fa fa-cart-plus"></i>
                        <span>Add to cart</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wp-block product">
                <figure>
                    <img alt="" src="http://placehold.it/350x150" class="img-responsive img-center">
                </figure>
                <h2 class="product-title"><a href="/details">Nikon Coolpix L320</a></h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                </p>
                <div class="wp-block-footer">
                    <span class="price pull-left">$233.33</span>
                    <a href="/checkout" class="btn btn-sm btn-info btn-icon btn-cart pull-right">
                        <i class="fa fa-cart-plus"></i>
                        <span>Add to cart</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
  <span class="pull-right"><a href="/shop">View all</a></span>
</div>
