<div class="page-header">
  <h2><i class="fa fa-picture-o"></i>Aviary API</h2>
</div>
<div class="btn-group btn-group-justified"><a href="http://developers.aviary.com/docs/web/setup-guide#constructor" target="_blank" class="btn btn-primary"><i class="fa fa-check-square-o"></i>API Overview</a><a href="http://developers.aviary.com/docs/web/setup-guide#saving" target="_blank" class="btn btn-primary"><i class="fa fa-save"></i>Saving Images</a><a href="http://developers.aviary.com/docs/web/setup-guide#styling" target="_blank" class="btn btn-primary"><i class="fa fa-flask"></i>CSS Styling</a></div><br/>
<p>
  <button onclick="return launchEditor(&quot;myimage&quot;, &quot;http://orig11.deviantart.net/1db8/f/2016/106/b/7/light_perhaps_by_milliganvick-d9z4q8m.jpg&quot;);" class="btn btn-success"><i class="fa fa-magic"></i>Edit Photo</button>
</p>
<h4><a href="http://milliganvick.deviantart.com/art/Bioshock-Infinite-Burial-at-Sea-Light-perhaps-603202774">Bioshock Infinite Burial at Sea - Light perhaps?</a></h4><img id="myimage" src="http://orig11.deviantart.net/1db8/f/2016/106/b/7/light_perhaps_by_milliganvick-d9z4q8m.jpg" width="600"/>
<script src="http://feather.aviary.com/imaging/v3/editor.js"></script>
<script>
  var featherEditor = new Aviary.Feather({
    apiKey: 'd427cf051abb47f689171eff5c31e36d',
    theme: 'dark',
    tools: 'all',
    appendTo: '',
    onSave: function(imageID, newURL) {
      var img = document.getElementById(imageID);
      img.src = newURL;
    },
    onError: function(errorObj) {
      alert(errorObj.message);
    }
  });
  function launchEditor(id, src) {
    featherEditor.launch({
      image: id,
      url: src
    });
    return false;
  }
</script>
